:root {
  --app-header-background: linear-gradient(
    150deg, 
    hsl(0, 0%, 12%) 0%,
    hsl(242, 31%, 34%) 40%, 
    hsl(277, 32%, 29%) 60%, 
    hsl(0, 0%, 12%) 80%
  );
  // modal overlay background color
  --modal-overlay-background: rgba(22, 22, 22, 0.95);
}

html[data-color-theme='light'] {
  --app-header-background: linear-gradient(
    150deg, 
    hsl(0, 0%, 20%) 0%,
    hsl(242, 31%, 54%) 40%, 
    hsl(277, 32%, 49%) 60%, 
    hsl(0, 0%, 20%) 80%
  );
  // modal overlay background color
  --modal-overlay-background: rgba(224, 224, 224, 0.95);
}