// @import '_variables.css';
.in-ghost-button {
  --ep-button-bg-color: transparent;
  --ep-button-text-color: var(--text-color--loud);
  // --ep-button-border-width: 0;
  // --ep-button-border-style: none;
  --ep-button-border-color: transparent;
  --ep-button-border-radius: 0.3rem;
  --ep-button-hover-bg-color: var(--interface-foreground);
  --ep-button-hover-text-color: var(--text-color--loud);
  --ep-button-hover-border-color: transparent;
  --ep-button-active-bg-color: var(--interface-foreground);
  --ep-button-active-text-color: var(--text-color);
  --ep-button-active-border-color: var(--border-color);
  --ep-button-disabled-bg-color: var(--interface-foreground);
  --ep-button-disabled-text-color: var(--text-color--disabled);
  --ep-button-disabled-border-color: var(--border-color--disabled);
}

// severity classes
.severity--low {
  background-color: var(--color-severity--low-bg);
  border-color: var(--color-severity--low-border);
}

.severity--medium {
  background-color: var(--color-severity--medium-bg);
  border-color: var(--color-severity--medium-border);
}

.severity--high {
  background-color: var(--color-severity--high-bg);
  border-color: var(--color-severity--high-border);
}

.severity--critical {
  background-color: var(--color-severity--critical-bg);
  border-color: var(--color-severity--critical-bg);
}

// type
h1.page-head {
  font-size: var(--font-size--large);
  font-variation-settings: var(--font-weight--light);
  color: var(--text-color--primary);
}